@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.5.0/uicons-bold-straight/css/uicons-bold-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.5.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.5.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-solid-straight/css/uicons-solid-straight.css');

:root{
    --Texto_escuro: #14183E;
    --Azul: #4372EB;
    --Cinza_claro: #9A9EA6;
}
body {
    font-family: 'Plus Jakarta Sans';
}
* {
    margin: 0;
    padding: 0;
}
#nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--Cinza_claro);
    padding: 0 6rem;
}
#circulo {  
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: center;
}
.icone {
    text-align: center;
    background-color: var(--Cinza_claro);
    font-size: 30px;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-top: 5px;
    padding: 10px;
    color: var(--Azul);  
}
#viajante {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;   
}
#texto_viajante{
    margin-top: -100px;
}
#viajante #texto_viajante h1  {
    font-size: 100px;
    color: var(--Texto_escuro);
    margin-bottom: 20px;
    font-weight: 900;
}
#viajante #texto_viajante p{
    font-size: 24px;
    color: var(--Texto_escuro);
    margin-bottom: 20px;
}
span {
    color: var(--Azul);
}
.cadastro {
    display: flex;
    text-align: center;
    justify-content:space-between;
    margin-top: 40px;
}
button {
    width: 35%;
    padding: 30px;
    font-size: 30px;
    background-color: var(--Azul);
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}
#viajante img {
    width: 40vw;
}
.cadastro i {
    font-size: 70px; 
    margin-top: 25px;  
    margin-left: 10px; 
}
.cadastro p{
    margin-right: 200px;
    margin-top: 50px;
    color: var(--Texto_escuro);
    font-weight: 700;
}
#empresas {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40vh;
}
#empresas img {
    margin-top: -200px;
    width: 15vw;
}
/* inicio div destino */
#destinos {
  
    height: 850px;
    padding-top: 40px;
}
#destino_texto {
    padding: 0 11rem;
}
#destino_texto h3{
    font-weight: 800;
    font-size: 25px;
    color: var(--Azul);
    margin-bottom: 40px;
}
#destino_texto h1{
    font-weight: 800;
    font-size: 2.7vw;
    color: var(--Texto_escuro);
}
#imagens {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 800px;
    width: 85%;
    margin: auto;
    margin-top: -70px;  
}
.destino_img_1 {
    background-image: url(/img/destino2.png);
    background-size: cover;
    width: 400px;
    height: 550px;
    margin-left: 20px;
    border-radius: 10px;

}
.destino_img_2 {
    background-image: url(/img/destino1.png);
    background-size: cover;
    width: 400px;
    height: 550px;
    margin-left: 20px;
    border-radius: 10px;    
}
.destino_img_3 {
    background-image: url(/img/destino5.png);
    background-size: cover;
    width: 400px;
    height: 550px;
    margin-left: 20px;
    border-radius: 10px;    
}
.destino_img_4 {
    background-image: url(/img/destino4.png);
    background-size: cover;
    width: 400px;
    height: 550px;
    margin-left: 20px;
    border-radius: 10px;    
}
.cartoes {
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
}
.cartoes h1, .cartoes p {
    width: 50%;
    background-color: rgba(209, 199, 199, 0.7);
    padding: 5px;
    font-size: 20px;
}
/* reservas */
#reserva_texto {
    margin-top: 40px;
}
#reserva_texto p {
    font-size: 30px;
    font-weight: 700;
    color: var(--Azul); 
}
#reserva_texto h2 {
    font-size: 70px;
    color: var(--Texto_escuro);
}
#reservas {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    height: 900px;
    display: flex;
    height: 30vw;
}
.secoes_reserva {
    display: flex;
    align-items: center;
    margin: 10px;
    font-size: 20px;
    margin-top: 4vh;
}
#reserva_2 {
    margin-left: 100px;
    width: 60%;   
}
.img_reserva {
    width: 50%;
    height: -200px;
}
.secoes_reserva p {
    margin-left: 30px;
    margin-bottom: 10px;
}
.secao {
    background-color: rgba(102, 102, 7, 0.5);
    padding: 0.7rem;
    border-radius: 10px;
    margin-top: -30px;
    min-width: 30px;
    min-height: 30px;
}
/* fim reservas */
#mapa_favorito {
    height: 1000px;
    margin-top: 15vh;
}
#mapa_texto {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}
#mapa_texto h3 {
    font-size: 25px;
    margin-top: 20px;
}
#mapa_texto h1 {
    margin-top: 20px;
    font-size: 75px;
}
#mapa_texto p {
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
}
.img_mapa {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
    width: 80%;
}
#favorito {
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
    display: flex;
    align-items:center;
    justify-content:space-around;
    font-size: 25px;
    color: var(--Texto_escuro);
}
.secao_favorito {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
}
.secao_favorito i {
    margin-right: 30px;
    color: black;
    margin-top: -30px;
}
.secao_favorito strong {
    font-size: 30px;
}
.secao_favorito .subir {
    margin-top: -32px;
}
/* fim mapa favorito */
a{
    text-decoration: none;
    padding: 20px;
}
#galeria {
    height: 800px;
    margin-top: 10vh;
}
#galeria_texto p {
    font-size: 22px;
    font-weight: 700;
    margin-left: 12% ;
}
#galeria_texto h1 {
    font-size: 60px;
    color: var(--Texto_escuro);
    margin-top: 10px;
    margin-left: 12%;
}
#galeria_secao {
    display: flex;
    align-items: center;
    padding: 0 100px;  
}
#texto_imagem {   
    border-radius: 20px 20px 20px 20px;
    margin-left: 100px;
    margin-top: -230px;
    border: 1px solid rgb(38, 41, 38);
    margin-left: 0px;
    box-shadow: 5px 5px 5px #5a5858;
    padding-bottom: 45px;
}
#texto_imagem p{
    padding: 20px;  
}
#texto_imagem h4 {
    padding: 20px;
    font-size: 20px;
}
.img_texto { 
    border: 1px solid ;
    width: 20vw;
    height: 30vh;
    border-radius: 20px 20px 0px 0px;
}
.video {
 padding: 5rem;
 width: 100vw;
 height: 800px;
}
#img_unica {
    height: 250px;
    width: 90%;
    margin: auto;
    background-image: url(/img/destino5.png);
    background-size:cover;
    background-position:center;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
}
#img_unica h2, #img_unica p {
    padding: 0 5rem;
    color:white;
    display: flex;
    align-items: center;
    font-size: 25px;
    margin-top: 30px;
}
#img_unica h2 {
    display: flex;
    justify-content:flex-start;
    font-size: 30px;
}
/* inicio cometários */
#comentarios {
    height: 1200px;
}
#comentario_texto {
    display: flex;
    align-items:center;
    flex-direction: column;
    margin-top: 150px;
} 
#comentario_texto p {
    font-size: 25px;
    font-weight: 700;
    padding: 2rem;
}
#comentario_texto h1 {
    font-size: 70px;
    font-weight: 800;
}
#comentario_texto p {
    text-align: center;
}
#secoes_comentarios {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px, 5px, 5px, 10px, #050505;
}
.secao_coment_1 {
    height: 550px;
    width: 25%;
    margin-top: 6rem;
    background-color: #e1e2e4;
    box-shadow: 5px 15px 5px #5a5858;
    border-radius: 10px;
}
.secao_coment_2 {
    height: 550px;
    margin-top: 6rem;
    width: 25%;
    background-color: #e1e2e4;
    box-shadow: 5px 15px 5px #5a5858;
    border-radius: 10px;
}
.secao_coment_3 {
    height: 550px;
    margin-top: 6rem;
    width: 25%;
    background-color: #e1e2e4;
    box-shadow: 5px 15px 5px #5a5858;
    border-radius: 10px;
}
.cont_comentario {
    height: 100%;
    margin-top: 10%; 
}
.cont_comentario img {
    width: 60%;
    margin-left: 80px;
}
.cont_comentario p {
    font-size: 20px;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}
.cont_comentario i {
    margin-left: 30px;
    font-size: 35px;
    color: rgb(126, 126, 40);
}
.estrela {
    padding: 10px;
}
.cont_comentario .estrela_apagada {
    color: #5a5858;
}
.cont_comentario a {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Rodape */
#rodape {
    height: 1000px;
    color: var(--Cinza_claro);
}
#rodape_final {
    font-size: 20px;
   padding: 0.5em 5rem;
   margin-bottom: 220px;
}
#rodape_final img {
    margin-bottom: 20px;
}
#rodape_final p {
    margin-bottom: 20px;
}
.contatos {
    margin-top: 50px;
}
.redes {
    margin-top:20px ;
    font-size: 20px;
}
#web_finalizado {
    display: flex;
    align-items: end;
    justify-content: center;
}